.home-container {
  text-align: center;
  padding: 20px;
}

.home-title {
  font-size: 2rem;
  color: #333;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

/* Slider Container */
.slider-container {
  width: 80%;
  margin: 20px auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
